<h4 class="text-center my-4">Product Detail</h4>

<ng-container [ngSwitch]="product">
    <h6 *ngSwitchCase="undefined || null" class="text-center m-2">Invalid Product</h6>
    <section *ngSwitchDefault class="tasc-product-detail pb-5">
        <div class="card">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <img src="{{product.image}}" alt="{{product.desc}}" class="img-fluid">
                </div>
                <div class="col-lg-5 mr-3 text-center text-md-left">
                    <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                        <strong>{{product.desc}}</strong>
                    </h2>

                    <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
                        <span class="font-weight-bold">
                            <strong>{{product.price | currency}}</strong>
                        </span>
                    </h3>

                    <div class="accordion md-accordion" id="product-detail-accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab">
                                <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#product-detail-accordion-1">
                                    <h5>
                                        Description
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="product-detail-accordion-1" class="collapse show" role="tabpanel" data-parent="#product-detail-accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab">
                                <a data-toggle="collapse" data-parent="#product-detail-accordion" href="#product-detail-accordion-2">
                                    <h5>
                                        Details
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>
                            <div id="product-detail-accordion-2" class="collapse" role="tabpanel" data-parent="#product-detail-accordion">
                                <div class="card-body">
                                    <p>
                                        <ng-container [ngSwitch]="product.taxed">
                                            <span *ngSwitchCase="true">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fas fa-hand-holding-usd fa-stack-1x"></i>
                                                </span> Taxed
                                            </span>
                                            <span *ngSwitchCase="false">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fas fa-wallet fa-stack-1x" style="z-index:2"></i>
                                                    <i class="fas fa-money-bill fa-stack-1x" style="z-index:1;color:green;left:14px"></i>
                                                </span> Tax Exempt
                                            </span>
                                        </ng-container>
                                    </p>
                                    <p>
                                        <ng-container [ngSwitch]="product.dutied">
                                            <span *ngSwitchCase="true">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fas fa-globe-asia fa-stack-1x"></i>
                                                </span> Imported
                                            </span>
                                            <span *ngSwitchCase="false">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fas fa-flag-usa fa-stack-1x"></i>
                                                </span> Domestic
                                            </span>
                                        </ng-container>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 mb-4">
                        <div class="col-md-12 text-center text-md-left text-md-right">
                            <button class="btn btn-primary btn-rounded waves-effect waves-light"  (click)="addToBasket(product)">
                                <i class="fas fa-shopping-cart mr-2"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>